// Карусель для страницы About US

.carousel-about-us {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;

    span:first-child{
        opacity: 1;
        border-radius: 50%;
        background-color: $active_regular;
    }

    &_point {
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: $active_regular;
        opacity: 0.2;

        &:hover {
            opacity: 0.6;
            background-color: $active_regular;
        }

        &:active {
            opacity: 1;
            background-color: $active_regular;
        }

        &_mobile {
            display: flex;
        }
    }

    @media (min-width: 768px) {
        margin-left: 42px;

        &_point {
            &_mobile {
                display: none;
            }
        }
    }
}

// Карусель для страницы homepage

.carousel-homepage {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;

    span:first-child{
        opacity: 1;
        border-radius: 50%;
        background-color: $active_regular;
    }

    &_point {
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: $active_regular;
        opacity: 0.2;

        &:hover {
            opacity: 0.6;
            background-color: $active_regular;
        }

        &:active {
            opacity: 1;
            background-color: $active_regular;
        }
    }
}